@font-face {
    font-family: Overlock;
    src: url('/fonts/Overlock-Regular.ttf') format("truetype");
    font-weight: normal;
    font-style: normal;
}

body {
    font-family: Overlock, sans-serif, Arial !important;
    background: #cbc9c9;
}

.main-content {
    height: 100vh;
}

a {
    text-decoration: none;
}

#error_page {
    background: white !important;
}