@font-face {
    font-family: Overlock;
    src: url('/fonts/Overlock-Regular.ttf') format("truetype");
    font-weight: normal;
    font-style: normal;
}

body {
    font-family: Overlock, sans-serif, Arial !important;
}