<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity6">
<head th:replace="~{fragments/head :: head}">
</head>
<body>
<div class="container-fluid">
    <div class="row main-content">
        <div th:replace="~{fragments/leftSide :: leftSide('product_model')}"></div>
        <div th:replace="~{fragments/rightSide :: rightSide(~{::#content})}">
            <div id="content">
                <h1>Hi this is product_model Page</h1>
            </div>
        </div>
    </div>
</div>
</body>
</html>